AddType application/font-woff woff

RewriteEngine On

#Rewrites everything to the application folder
RewriteRule ^(.*)$ Application/$1 [QSA]

#Rewrites everything that isn't a file to start the php bootstrap.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^Application/(.*)$ Framework/Core/Bootstrap.php?uri=$1 [QSA,L]