<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RewriteToApplication" stopProcessing="false">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Application/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="RewriteToPhpStart" stopProcessing="true">
                    <match url="^Application/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="\.[^/]+$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="framework/Core/Bootstrap.php?uri={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Custom404" stopProcessing="true">
                    <match url="^Application/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="config\.php" />
                    </conditions>
                    <action type="Rewrite" url="Application/HttpError/404.php?uri={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>