/* line 1, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
body { background-color: #333; background: url("/Assets/Background/seamless_pattern.jpg") repeat; }

/* line 6, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
nav { margin-bottom: 19px; }

/* line 10, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.container { background: #fff; }

/* line 14, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
section { overflow: auto; }

/* line 17, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
section.page-header .facebook-profile .thumbnail { overflow: auto; }
/* line 19, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
section.page-header .facebook-profile .thumbnail .profile-pic { width: 40px; height: 40px; margin-right: 8px; }
/* line 24, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
section.page-header .facebook-profile .thumbnail .profile-details { height: 40px; }
/* line 26, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
section.page-header .facebook-profile .thumbnail .profile-details p { font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; margin: 0; }
/* line 31, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
section.page-header .facebook-profile .thumbnail .profile-details .fb-name { color: #3b5998; font-weight: bold; margin: 2px 0 4px; }

/* line 38, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
section.page-body .jumbotron { text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
/* line 40, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
section.page-body .jumbotron h1 { margin-bottom: 50px; }

/* line 45, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-calendar { background: #f5f5f5; border-color: #ddd; }
/* line 48, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-calendar > .panel-heading { color: #333; background-color: #f5f5f5; border-color: #ddd; padding: 10px 15px 0; border-bottom: 0; }
/* line 55, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-calendar > .panel-heading .nav-tabs > li { width: 14.28571%; text-align: center; }
/* line 58, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-calendar > .panel-heading .nav-tabs > li:last-child { float: right; }
/* line 59, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-calendar > .panel-heading .nav-tabs > li:last-child > a { margin-right: 0; }
/* line 61, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-calendar > .panel-body { margin: 0 15px 10px; border-width: 0 1px 1px; border-color: #ddd; border-style: solid; background: #fff; }
/* line 69, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-upcoming, .home.index .panel-released { border-color: #ddd; }
/* line 71, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-upcoming > .panel-heading, .home.index .panel-released > .panel-heading { position: relative; border-bottom: 0; }
/* line 74, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-upcoming > .panel-heading:after, .home.index .panel-released > .panel-heading:after { content: ' '; position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
/* line 83, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-upcoming > .panel-heading:after { background-color: rgba(255, 255, 0, 0.3); }
/* line 86, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-released > .panel-heading:after { background-color: rgba(0, 255, 0, 0.3); }
/* line 89, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.home.index .panel-default > .panel-heading { border-bottom: 0; }

/* line 95, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.edit_calendar.index .add-series .media-body { line-height: 34px; }
/* line 96, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.edit_calendar.index .add-series .media-body p { margin: 0; }
/* line 98, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.edit_calendar.index .search-results { margin-top: 10px; }
/* line 100, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.edit_calendar.index .search-results .progress { margin-bottom: 0; }

/* line 105, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.series.create .input-group { width: 100%; }
/* line 106, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.series.create .input-group input { font-size: 21px; }
/* line 109, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.series.create .release-week-day-group select { padding: 0; padding-left: 15px; }
/* line 112, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.series.create .description-group textarea { resize: vertical; }
/* line 117, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.series.index .table-group-addon .btn { width: 50%; }
/* line 118, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.series.index .table-group-addon .btn.subscribed .glyphicon { color: #B64242; }

/* General stuff */
/* line 123, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.table { height: 100%; }
/* line 125, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.table td { height: 100%; }
/* line 127, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.table td .td-content { width: 100%; height: 100%; overflow: hidden; }
/* line 132, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.table .table-group-addon { padding: 0; }
/* line 134, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.table .table-group-addon .btn { width: 100%; height: 100%; border: none; }

/* line 142, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.save-group .input-group button { width: 100%; }
/* line 144, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.save-group .progress { margin-bottom: 0; }
/* line 145, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.save-group .progress .progress-bar { -webkit-transition-duration: .3s; transition-duration: .3s; }
/* line 148, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.save-group .progress .progress-bar.no-transition { -webkit-transition: none; transition: none; }

/* line 153, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.depth { display: block; color: black; font-family: Arial, sans-serif; font-weight: bold; position: relative; }

/* line 161, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.depth:before, .depth:after { content: attr(title); color: rgba(255, 255, 255, 0.3); position: absolute; }

/* line 167, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.depth:before { top: 1px; left: 1px; }

/* line 168, D:/inetpub/wwwroot/Seriescalendar/www/Application/Assets/Sass/main.scss */
.depth:after { top: 2px; left: 2px; }
