body {
  background-color: #333;
  background: url("/Content/Background/seamless_pattern.jpg") repeat; }

.navbar-static-top {
  margin-bottom: 19px; }

.depth {
  display: block;
  color: black;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: relative; }

.depth:before, .depth:after {
  content: attr(title);
  color: rgba(255, 255, 255, 0.3);
  position: absolute; }

.depth:before {
  top: 1px;
  left: 1px; }

.depth:after {
  top: 2px;
  left: 2px; }

.thecalendar > .panel-heading {
  color: #FFFFFF;
  background-color: #98ACB8;
  border-color: #ddd;
  background: url("/Content/Image/dottile.png") repeat;
  background-size: 10%;
  position: relative; }
  .thecalendar > .panel-heading.green:after, .thecalendar > .panel-heading.yellow:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .thecalendar > .panel-heading.green:after {
    background-color: rgba(0, 255, 0, 0.3); }
  .thecalendar > .panel-heading.yellow:after {
    background-color: rgba(255, 255, 0, 0.3); }

.facebook-profile .thumbnail {
  overflow: auto; }
  .facebook-profile .thumbnail .profile-pic {
    width: 40px;
    height: 40px;
    margin-right: 8px; }
  .facebook-profile .thumbnail .profile-details {
    height: 40px; }
    .facebook-profile .thumbnail .profile-details p {
      font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
      font-size: 11px;
      margin: 0; }
    .facebook-profile .thumbnail .profile-details .fb-name {
      color: #3b5998;
      font-weight: bold;
      margin: 2px 0 4px; }

.search-results {
  margin-top: 10px; }
